.blur {
  filter: blur(6px);
  pointer-events: none;
}

.landing-C{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex-direction: row;

  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, #ffe4e1, #fff5f7, #fce1ec);
  overflow: hidden;


}

.logo{
    height: 500px;
    width: 350px;

}
.left-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.floating-img {
  width: 60%;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 4rem;
  color: #333;
}

.title {
  font-size: 3.5rem;
  color: #ff7f9c;
  font-family: "Poppins", sans-serif;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #555;
}

.auth-buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 0.8rem 1.8rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.login-btn {
  background-color: #fff;
  color: #ff7f9c;
  border: 2px solid #ff7f9c;
}

.login-btn:hover {
  background-color: #ff7f9c;
  color: #fff;
}

.signup-btn {
  background-color: #ffb6c1;
  color: #fff;
}

.signup-btn:hover {
  background-color: #ff7f9c;
}
